<ion-content>
  <ion-slides pager="true">

    <ion-slide>
      <div class="slide">
        <img src="/assets/img/a3.jpg" />
        <h5>تبيان</h5>
        <p>
          تيسير تعليم معاني الكلمات بإستخدام الذكاء الإصطناعي
        </p>

      </div>
    </ion-slide>

    <ion-slide>
      <img src="/assets/img/a3.jpg" />
      <h5>هدافنا</h5>

      <p>
        تعميم الفائدة لكافة شرائح المجتمع
      </p>

      <ion-button fill="clear" routerLink="/home">لنبدأ
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>


  </ion-slides>
</ion-content>
